<!DOCTYPE html>
<html lang="en">
<head>
  <title>U P L O A D E R  S E R V I C E - S T A T U S</title> 
  <link href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet'>
  <style>
    h2, h1, h6, th, button { letter-spacing: 6px; }
  </style>
</head>
<body>
<div class="container">
  <h1><strong>UPLOADER SERVICE</strong></h1>
  <hr/>

  <h2>IN PROGRESS</h2>
  <% if api_status[:uploading][:size] > 0%>
    <div class="well">
      <h5>LOCAL  &nbsp;&nbsp;&nbsp;: <%= api_status[:uploading][:local]%></h5>
      <h5>REMOTE : <%=api_status[:host]%><%= api_status[:uploading][:remote]%></h5>
      <table class="table">
        <tr>
          <td>SIZE : <%= api_status[:uploading][:size]/(1024)%> KB</td>
          <td>WRITTEN : <%= api_status[:uploading][:bytes_written]/(1024)%> KB</td>
          <td>COMPLETE ? : <%= api_status[:uploading][:complete ]%></td>
        </tr>
      </table>
    </div>
    <% else %>
      <h6>No upload in progress.</h6>
    <% end %>

  <hr/>
  <h2>PENDING</h2>

  <% if api_status[:pending].size > 0 %>
    <table class="table well">
      <tr>
        <th>#</th>
        <th>project</th>
        <th>client</th>
        <th>start</th>
        <th>end</th>
        <th>filename</th>
        <th>format</th>
      </tr>
      <% api_status[:pending].each_with_index do | p, i |%>
        <tr>
          <td><%= i+1 %></td>
          <td><%= p[:project_name]%></td>
          <td><%= p[:client_name] %></td>
          <td><%= p[:start_time] %></td>
          <td><%= p[:end_time] %></td>
          <td><%= p[:base_filename] %></td>
          <td><%= p[:format] %></td>
        <tr>
      <% end %>

    </table>
    <% if api_status[:uploading][:size] <= 0 %>
      <button id='button' type="button" class="btn btn-default btn-lg">BEGIN UPLOAD</button>
    <% end %>
  <% else %>
    <h6>No files awaiting upload.</h6>
  <% end %>
  <hr/>

  <h2>HISTORY (last 5 uploads)</h2>
  <table class="well table">
    <tr>
      <th>#</th>
      <th>project</th>
      <th>client</th>
      <th>filename</th>
      <th>fmt</th>
      <th>when?</th>
      <th>duration<//th>
      <th>file size</th>
      <th>bytes written</th>
      <th>uploaded?</th>
    </tr>
    <% api_status[:history].each_with_index do | h, i | %>
    <tr>
      <td><%= h[:id] %></td>
      <td><%= h[:project_name] %></td>
      <td><%= h[:client_name] %></td>
      <td><%= h[:base_filename] %></td>
      <td><%= h[:format] %></td>
      <td><%= h[:timestamp] %></td>
      <td><%= "%.1f" % h[:duration] %> s</td>
      <td><%= h[:filesize] %></td>
      <td><%= h[:bytes_written] %></td>
      <td><%= h[:status] %></td>
    </tr>
    <% end %>
  </table>

  <hr/>

</div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script>
  $("button").click(function(){
    $.ajax({url:"manual_start",success:function(result){
      location.reload();
    }});
  }); 
  </script>
</body>
</html>
