<!DOCTYPE html>
<html lang="en">
<head>
  <title>U P L O A D E R  S E R V I C E - S T A T U S</title> 
  <link href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet'>
</head>
<body>
<div class="container">
  <h1><strong>U P L O A D E R &nbsp; S E R V I C E &nbsp;-&nbsp; S T A T U S</strong></h1>
  <hr/>

  <h2>H I S T O R Y (last 5 uploads)</h2>
  <table class="well table">
    <tr>
      <th>#</th>
      <th>p r o j e c t</th>
      <th>c l i e n t</th>
      <th>f i l e n a m e</th>
      <th>f o r m a t</th>
      <th>f i n i s h &nbsp; t i m e</th>
      <th>d u r a t i o n<//th>
      <th>u p l o a d e d ?</th>
    </tr>
    <% api_status[:history].each_with_index do | h, i | %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= h[:project_name] %></td>
      <td><%= h[:client_name] %></td>
      <td><%= h[:base_filename] %></td>
      <td><%= h[:format] %></td>
      <td><%= h[:timestamp] %></td>
      <td><%= "%.1f" % h[:duration] %> s</td>
      <td><%= h[:status][:complete] %></td>
    </tr>
    <% end %>
  </table>

  <h2>I N &nbsp; P R O G R E S S</h2>
  <div class="well">
    <% if api_status[:uploading][:size] > 0%>
      <h6>L O C A L :<%= api_status[:uploading][:local]%></h6>
      <h6>R E M O T E : <%=api_status[:host]%><%= api_status[:uploading][:remote]%></h6>
      <table class="table">
        <tr>
          <td>S I Z E : <%= api_status[:uploading][:size]/(1024)%> KB</td>
          <td>W R I T T E N : <%= api_status[:uploading][:bytes_written]/(1024)%> KB</td>
          <td>C O M P L E T E ? : <%= api_status[:uploading][:complete ]%></td>
        </tr>
      </table>
    <% else %>
      <p>N o &nbsp; u p l o a d &nbsp; i n &nbsp; p r o g r e s s</p>
    <% end %>
  </div>

  <h2>P E N D I N G</h2>
  <table class="table well">
    <tr>
      <th>#</th>
      <th>p r o j e c t</th>
      <th>c l i e n t</th>
      <th>s t a r t</th>
      <th>e n d</th>
      <th>f i l e n a m e</th>
      <th>f o r m a t</th>
    </tr>
    <% api_status[:pending].each_with_index do | p, i |%>
      <tr>
        <td><%= i+1 %></td>
        <td><%= p[:project_name]%></td>
        <td><%= p[:client_name] %></td>
        <td><%= p[:start_time] %></td>
        <td><%= p[:end_time] %></td>
        <td><%= p[:base_filename] %></td>
        <td><%= p[:format] %></td>

      <tr>
    <% end %>
  </table>

</div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</body>
</html>
